@font-face{
	font-family: ubuntu;
	src: url(Font/Ubuntu-Regular.ttf);
}

body{
	margin: 0;
	padding: 0;
}

#wrap{
	width:850px;
	margin-left:auto;
	margin-right:auto;
	padding:0;
	margin-top:0;
	margin-bottom:0;
}

#header{
	width: 850px;
	height: 100px;
	background-color: #e95420;
}

#header img{
	max-height: 80px;
	max-width: 65px;
	float: right;
	display:block;
	margin-top:10px;
	margin-right:60px;
}

#header p{
	height: auto;
	width: auto;
	color: white;
	float: left;
	font-size:30px;
	font-family: ubuntu;
	margin-left:60px;
}

#header a:link{
	color: white;
	text-decoration:none;
}

#header a:visited{
	color: white;	
}

.poravnanje_h{
	display:inline-block;
}

.menu{
	width: 850px;
	height:50px;
	text-align:center;
	background-color: #e95420;
	border-top: 2px solid white;
	font-style:normal;
	font-family: ubuntu;
}

.menu a{
	font-style:normal;
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.menu a:hover, .dropdown:hover .dropbtn {
	color:white; 
	background-color:#a23710;
	border-left: 2px solid white;
	border-right: 2px solid white;
}

.menu a:active{
    color:#0063ff;
}

.menu a:visited{
    color:white;
}


.dropdown{
	font-style:normal;
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 16px;
	font-family:ubuntu;
	border:none;
	color: white;
	padding: 14px 16px;
	background-color: #e95420;
}

.dropdown-content{
	font-style:normal;
	font-family:ubuntu;
	display:none;
	position: absolute;
	background-color:#e95420;
	min-width: 160px;
	border: 2px solid white;
}


.dropdown-content a{
	font-style:normal;
	float: none;
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover{
	border: none;
	background-color:#a23710;
}

.dropdown:hover .dropdown-content{
	display: block;
}

#content{
	width: 850px;
	height: 755px;
	background-color: #2c001e;
	border-top: 2px solid white;
	text-align:justify;
	font-style:normal;
}

#content a:link{
	color:white;
}

#content h1{
	margin-left:25px;
	color:white;
	font-family: ubuntu;
	font-size: 40px;
}

#content p{
	margin-right:25px;
	margin-left:25px;
	font-size:25px;
	font-family: ubuntu;
	color: white;
}

#content img{
	height: 120px;
	width: 120px;
	margin-top: 15px;
}

#footer{
	font-style:normal;
	width: auto;
	height: 64px;
	background-color: #2c001e; 
	border-top: 2px solid white;
	text-align: center;
}

#footer p{
	color: white;
}